/*@import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
*/
.date {
	width: 56px;
	height: 56px;
	background-color: #3D58A6;
	padding: 7px 10px;
	font-size: 37px;
	color: #fff;
}
.article-title {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.text-block {
	display: inline-block;
	width: 929px;
	vertical-align: top;
}
.image-block {
	vertical-align: top;
	margin-right: 39px;
}
.text1 {
	margin-bottom: 21px;
	font-family: 'ALK Life';
	font-weight: bold;
	font-style: italic;
}
.latinuri-absoluturi {
	font-family: 'Viaoda Libre', cursive;
}
.latinuri-relatiuri {
 	font-family: 'Roboto';
}
/*contact page*/
.section-contact {
	background-color: #E6E6E6;
}
.container {
	width: 1177px;
	margin: 0 auto;
}
.left-block {
	display: inline-block;
	vertical-align: top;
	margin-right: 75px;
}
.right-block {
	display: inline-block;
	vertical-align: top;
}
.contact-a {
	color: black;
}

/*footer styles*/
.divider {
	width: 1px;
	height: 27px;
	background-color: #363E97;
	display: inline-block;
	margin-right: 32px;
	margin-left: 35px;
}